---
layout: default
---

<div id="{{ page.categories[0] }}" class="category">
	
	<div class="posts">
		
  	<div class="post">
     	<div class="titleBar">
     		<a href="{{ post.url }}">{{ page.title }}</a>
				<span class="date">{{ page.date | date_to_string }}</span>
     	</div>
			<div class="content">
				{{ content }}
			</div>
			<div class="tags clearfix">
				{% for tag in page.tags %}
				<span class="tag"><a href="/tags/{{tag}}">{{tag}}</a></span>
				{% endfor %}
			</div>
  	</div>

  </div>

</div>

